@font-face {font-family: haettenschweiler; src: url(font/HATTEN.TTF);}
/* General css */
.rotate90 {-webkit-transform: rotate(120deg); -moz-transform: rotate(120deg); -o-transform: rotate(120deg); -ms-transform: rotate(120deg); transform: rotate(120deg);}
a{color:#000}
a:hover{color:#000}
.title{color:#cb3338; font-family: Oswald; font-size:23px}
.heading{color:#cb3338; font-family: Oswald; font-size:27px}
.exhibitiondetail h1{color:#daa521; font-family: Oswald; text-transform:uppercase}
.exhibitiondetail p{color:#cb3338; font-family: Teko; font-size:21px; font-weight:bold}
.container{background:#000}
.navbar{margin-bottom:0; background-color:#000; border-radius:0; border:0}
.navbar-default .navbar-nav>li>a{color:#daa521; font-family: haettenschweiler; }
.navbar-default .navbar-nav>li>a:hover{color:#cb3338}
.navbar-default .navbar-brand{color:#daa521; font-family: haettenschweiler; }
.navbar-default .navbar-toggle .icon-bar{background-color:#fff}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:#333}
.navbar-brand.home:hover{color:#cb3338}
.footer{background:#000; clear:both; font-family: haettenschweiler; padding:20px 0}
.footer .name{font-size:30px; color: #daa521}
.footer .email{font-size:22px; color: #daa521}
.row.equal [class*="col-"]{margin-bottom: -99999px; padding-bottom: 99999px;}
.row.equal{overflow: hidden;}
.glomesh-left, .exhibition-left, .about-left, .dada-left {background-color:#daa521; border-right:3px solid #000}
.about-left{padding-top:20px}
.gallery-left{background:#cb3338}
.gallery-left img{width:300px; border: 3px solid #000; margin-top:30px}
.gallery-right, .glomesh-right{color:#daa521; background:#000}
.exhibition-right, .about-right{background-color:#cb3338; }
.about-right img{margin:30px 0 40px 0}
.exhibition-right .hand{padding: 40px 0 35px 0 ; display:inline-block}
.exhibition-right .sueimage{border:8px solid #000; display:inline-block; margin-bottom:20px}
.homepage-container{border-top:2px solid #daa521; border-bottom:2px solid #daa521}
.homepage-left{padding-right:0; padding-left:0; background:#cb3338;}
.homepage-right, .dada-right{background:#000;}
.homepage-right img{padding-top:100px}
.navbar-right li{padding-right:10px; padding-top:10px}
.navbar-right li .pintrest{background:url('images/pintrest.jpg') no-repeat top left; width: 30px; height: 30px}
.navbar-right li .pintrest:hover{background:url('images/pintrest_hover.jpg') no-repeat top left}

.navbar-right li .facebook{background:url('images/facebook.jpg') no-repeat top left; width: 30px; height: 30px}
.navbar-right li .facebook:hover{background:url('images/facebook_hover.jpg') no-repeat top left}

.navbar-right li .googleplus{background:url('images/googleplus.jpg') no-repeat top left; width: 30px; height: 30px}
.navbar-right li .googleplus:hover{background:url('images/googleplus_hover.jpg') no-repeat top left}

.navbar-right li .instagram{background:url('images/instagram.jpg') no-repeat top left; width: 30px; height: 30px}
.navbar-right li .instagram:hover{background:url('images/instagram_hover.jpg') no-repeat top left}
.tvcom{font-size:22px; margin-top:20px; color:#daa521}
body{background:#fff; font-family: 'Roboto', sans-serif;}
.block{display:block; height:300px}
.table-no-border>thead>tr>th, .table-no-border>tbody>tr>th, .table-no-border>tfoot>tr>th, .table-no-border>thead>tr>td, .table-no-border>tbody>tr>td, .table-no-border>tfoot>tr>td {border-top: none;}
/* Large desktop */
@media (min-width: 1000px) { 
	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{font-size:29px}
}
@media (min-width:768px) and (max-width:999px){
	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{font-size:17px}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.navbar-right li.pt, .navbar-right li.fb, .navbar-right li.gp, .navbar-right li.ig{display:inline-block} 
	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{font-size:29px}
	.tvcom{text-align:left}
	img{display:inline-block !important; margin: 30px 0}
	.exhibition-left{border-right:0}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.exhibitiondetail.col-xs-8{width:85% !important} 
}
